/*  Pax's CSS */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'MyCustomFont';
  src: url('./assets/fonts/AnnieUseYourTelescope-Regular.ttf') format('truetype');
  font-style: normal;
}

body {
  background-color: #000 !important;
  border-top: 20px solid #fff !important;
  font-family: "MyCustomFont";
}

.site-header {
  margin-bottom: 50px;
  position: relative;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-top: 20px;
}

.site-title {
  font-size: 3.5rem; 
  font-weight: 700;
  line-height: 1.1;
}

.intro-title {
  font-family: "MyCustomFont";
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 96px;
  margin-top: 0;
}

.intro-current-job {
  font-family: "Inter";
  font-weight: 300;
  font-style: italic;
  color: #C2C2C2;
  margin-top: -30px;
  font-size: 20px;
}

.brief-content {
  font-family: "Inter";
  color: #C2C2C2;
  font-size: 18px;
  line-height: 150%;
  font-weight: 300;
  margin-top: 50px;
}

.inner-brief-content {
  font-family: "MyCustomFont";
  color: #fff;
  font-size: 27px;
}

.com-1, .com-2, .com-3 {
  font-family: "MyCustomFont";
  color: #fcfaf0;
  font-size: 25px;
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
}

.com-3 {
  font-size: 25px;
}

.site-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  font-family: "Inter";
  color: #fff;
}

.site-nav ul li {
  margin-right: 20px;
}

.site-nav ul li a {
  position: relative;
  text-decoration: none;
  font-family: "MyCustomFont";
  font-size: 18px;
  color: #fff !important;
  padding: 10px 0;
  text-transform: none;
  transition: color 0.3s ease;
}

.site-nav ul li a:hover {
  color: #fff;
  text-decoration: line-through !important;
}

.site-nav ul li a.active {
  color: #fff;
  text-decoration: line-through !important;
}

.site-nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}



@media (max-width: 800px) {
  .site-body {
    margin-bottom: 150px; /* Adjust as needed */
  }

  .main-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr !important;
    grid-gap: 30px;
  }

  .site-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    z-index: 9999;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Inter";
    color: #6c6d70;
    font-size: 15px;
  }

  body {
    padding-left: 10px;
    padding-right: 10px;
  }


  .main-content, .image-content {
    width: 100%;
    margin-bottom: 20px;
  }

  .image-content img {
    max-width: 100%;
    height: auto;
  }

  /* Adjust margins for better readability */
  .intro-current-job {
    font-size: 16px;
    margin-top: 0;
  }

  .inner-brief-content {
    font-size: 22px;
  }

  /* Adjust nav spacing */
  .site-nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .site-nav ul li {
    margin-bottom: 15px;
  }

  .intro-title {
    font-size: 48px;
  }

  .wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0.4rem;
}

.brief-content {
  padding: 10px;
  font-size: 16px;
}
}

.social-icons {
  display: flex;
  gap: 20px;
  color: #969A9F;
  font-size: 25px;
}

.wrapper {
  width: 90%;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.main-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.right-image {
  grid-column: 2; /* Ensure the image is in the second column */
  justify-self: end; /* Align the image to the right */
}

.site-title {
  position: absolute;
  top: -5px;
  left: 0;
}

.other-site-nav ul {
  display: contents;
  position: absolute;
  bottom: 40%;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  font-family: "MyCustomFont";
}

.other-site-nav {
  display: inline-block;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 40px;
}

.other-site-nav-bytes {
  display: inline-block;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 40px;
}

.other-site-nav-bytes ul {
  display: contents;
  position: absolute;
  bottom: 40%;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  font-weight: 300;
  font-family: "Inter";
}

.other-site-nav-bytes ul li a {
  text-decoration: none;
  text-transform: none;
  font-family: "Inter";
  font-size: 18px;
  color: #fcfaf0 ;
  display: inline-block;
  padding-right: 15px;
  font-weight: 400;
  transition: background-color 0.3s ease;
}

.other-site-nav-bytes ul li a:hover {
  text-decoration: underline;
}

.other-site-nav ul li a {
  text-decoration: underline;
  text-transform: none;
  font-family: "MyCustomFont";
  font-size: 20px;
  color: #fcfaf0 ;
  display: inline-block;
  padding-right: 15px;
  font-weight: 400;
  transition: background-color 0.3s ease;
}

.other-site-nav ul li a:hover {
  background-color: #000;
  color: #fff;
}

.site-nav {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.site-nav ul {
  text-decoration: none;
  text-transform: none;
  color: #fff;
  display: flex;
  position: absolute;
  bottom: 40%;
  font-family: "Inter";
}

.site-nav ul li a {
  text-decoration: none !important;
  text-transform: none;
  font-family: "MyCustomFont";
  color: #000 ;
  font-size: 25px;
  font-weight: 300;
  display: inline-block;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}

.site-footer {
  position: relative;
  left: 0;
  bottom: -40px;
  width: 100%;
  text-align: left;
  z-index: 9999;
  padding-top: 25px;
  padding-bottom: 15px; 
  font-family: "Inter";
  color: #fff;
  font-size: 15px;
  background-color: #000;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: inherit;
  font-size: 24px; 
  text-decoration: none;
}

.social-icons a:hover {
  color: #969A9F; 
}

/* Show the mobile menu when it's active */
.mobile-menu.active {
  display: flex;
}

/* Web menu hidden on mobile screens */
@media (max-width: 800px) {
  .site-nav {
    display: none;
  }

  .hamburger-icon {
    right: 0.1rem;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.mobile-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Centered Menu List */
.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu ul li {
  margin: 1.5rem 0;
}

.mobile-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  transition: color 0.3s ease;
}

.mobile-menu ul li a:hover {
  color: #ddd;
}

.close-icon {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.hamburger-icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem; /* Aligns the icon to the right */
  display: block;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
