/*  Pax's CSS */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');



body {
  background-color: #008080 !important;
  border-top: 20px solid #F4D4B7 !important;
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.site-header {
  margin-bottom: 50px;
  position: relative;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-top: 20px;
}

.site-title {
  font-size: 3.5rem; 
  font-weight: 700;
  line-height: 1.1;
}

.intro-title {
  font-family: "Noto Serif Display";
  font-weight: 600;
  font-style: bold;
  color: #F4D4B7;
  font-size: 96px;
  margin-top: 0;
}

.intro-current-job {
  font-family: "Montserrat";
  font-weight: 500;
  color: #fff;
  margin-top: -30px;
  font-size: 60px;
}

.brief-content {
  font-family: "Montserrat";
  color: #ccc;
  font-size: 25px;
  line-height: 200%;
  font-weight: 400;
  margin-top: 50px;
   margin-bottom: 120px;
}

.inner-brief-content {
  font-family: "Montserrat";
  color: #fff;
  font-size: 27px;
}

.inner-brief-content a {
  font-family: "Montserrat";
  color: #fff;
  font-size: 27px;
  text-decoration: none;
  text-transform: none;
}

.com-1, .com-2, .com-3 {
  font-family: "Montserrat";
  color: #fcfaf0;
  font-size: 25px;
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
}

.com-3 {
  font-size: 14px;
  font-style: italic;
  color: #F4D4B7 !important;
}

.site-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  font-family: "Montserrat";
  color: #fff;
}

.site-nav ul li {
  margin-right: 20px;
}

.site-nav ul li a {
  position: relative;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 18px;
  color: #fff !important;
  padding: 10px 0;
  text-transform: none;
  transition: color 0.3s ease;
}

.site-nav ul li a:hover {
  color: #fff;
  text-decoration: line-through !important;
}

.site-nav ul li a.active {
  color: #fff;
  text-decoration: line-through !important;
}

.site-nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.main-content, .image-content {
  width: 100%;
  margin-bottom: 20px;
}

.image-content img {
  max-width: 100%;
  height: auto;
  
}


@media (max-width: 800px) {

  .main-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr !important;
    grid-gap: 30px;
  }

  .site-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Montserrat";
    color: #000;
    font-size: 15px;
  }

  body {
    padding-left: 10px;
    padding-right: 10px;
  }


  .main-content, .image-content {
    width: 100%;
    margin-bottom: 20px;
  }

  .image-content img {
    max-width: 100%;
    height: auto;

  }

  /* Adjust margins for better readability */
  .intro-current-job {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 120px;
  }

  .inner-brief-content {
    font-size: 22px;
  }

  /* Adjust nav spacing */
  .site-nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .site-nav ul li {
    margin-bottom: 15px;
  }

  .intro-title {
    font-size: 48px;
  }

  .wrapper {
    width: 100% !important;
    margin: 0 auto;
    padding: 0.4rem;
}

.brief-content {
  padding: 10px;
  font-size: 20px;
}
}

.social-icons {
  display: flex;
  gap: 20px;
  color: #969A9F;
  font-size: 25px;
}

.wrapper {
  width: 90%;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.main-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.right-image {
  grid-column: 2; /* Ensure the image is in the second column */
  justify-self: end; /* Align the image to the right */
}

.site-title {
  position: absolute;
  top: -5px;
  left: 0;
}

.other-site-nav ul {
  display: contents;
  position: absolute;
  bottom: 40%;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  font-family: "Montserrat";
}

.other-site-nav {
  display: inline-block;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 40px;
}

.other-site-nav-bytes {
  display: inline-block;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 40px;
}

.other-site-nav-bytes ul {
  display: contents;
  position: absolute;
  bottom: 40%;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  font-weight: 300;
  font-family: "Montserrat";
}

.other-site-nav-bytes ul li a {
  text-decoration: none;
  text-transform: none;
  font-family: "Montserrat";
  font-size: 19px;
  color: #fcfaf0 ;
  display: inline-block;
  padding-right: 15px;
  font-weight: 400;
  transition: background-color 0.3s ease;
}

.other-site-nav-bytes ul li a:hover {
  text-decoration: underline;
}

.other-site-nav ul li a {
  text-decoration: underline;
  text-transform: none;
  font-family: "Montserrat";
  font-size: 20px;
  color: #fcfaf0 ;
  display: inline-block;
  padding-right: 15px;
  font-weight: 400;
  transition: background-color 0.3s ease;
}

.other-site-nav ul li a:hover {
  background-color: #000;
  color: #fff;
}

.site-nav {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.site-nav ul {
  text-decoration: none;
  text-transform: none;
  color: #fff;
  display: flex;
  position: absolute;
  bottom: 40%;
  font-family: "Montserrat";
}

.site-nav ul li a {
  text-decoration: none !important;
  text-transform: none;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}

.site-footer {
  position: relative;
  left: 0;
  bottom: -40px;
  width: 100%;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 15px; 
  font-family: "Montserrat";
  color: #fff;
  font-size: 15px;
}

.social-icons {
  display: flex;
  gap: 10px;
  color: #fff;
}

.social-icons a {
  color: inherit;
  font-size: 24px; 
  text-decoration: none;
}

.social-icons a:hover {
  color: #969A9F; 
}

/* Show the mobile menu when it's active */
.mobile-menu.active {
  display: flex;
}

/* Web menu hidden on mobile screens */
@media (max-width: 800px) {
  .site-nav {
    display: none;
  }

  .hamburger-icon {
    right: 0.1rem;
    display: block !important;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #008080;
  color: #fff;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.mobile-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Centered Menu List */
.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu ul li {
  margin: 1.5rem 0;
}

.mobile-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  transition: color 0.3s ease;
}

.mobile-menu ul li a:hover {
  color: #ffe666;
}

.close-icon {
  position: absolute;
  top: 1.5rem;
  right: 3.1rem;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: poMontserrat;
}

.hamburger-icon {
  position: absolute;
  display: none;
  top: 1.5rem;

  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: poMontserrat;
}

.project-status.paused {
  color: red;
  background-color: #fff; 
  padding: 5px 10px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 5px;
  font-weight: bold;
  width: 20%;
}

.partnerships-heading {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  color: #fcfaf0;
}

.partnerships-list {
  list-style-type: none;
  padding-left: 0;
}

.partnerships-list li {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
  font-family: "Montserrat";
  font-weight: 300;
  color: #fff;
}

.partnership-link {
  color: #ffe666; 
  text-decoration: none;
  font-weight: bold;
  font-family: "Montserrat";

}

.partnership-link:hover {
  text-decoration: underline;
}

.description-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1rem;
  row-gap: 1.5rem;
   list-style: none;
  padding-left: 0;
}

@media (min-width: 768px) {
  .description-list {
    grid-template-columns: repeat(3, 1fr);  
    column-gap: 1rem;
    row-gap: 1.5rem;
  }
}

.full-width-black {
  background-color: #000;
  color: #fff;
  width: 100vw;         
  margin-left: calc(-50vw + 50%);
  padding: 2rem 1rem;
}

.content-section {
  max-width: 100%;
  margin: 0 auto;
}

.black-section {
  background-color: #000;
  color: #fff;
  padding: 2rem 1rem;
  width: 100%;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.roles-grid {
  display: flex;
  flex-direction: column;
  font-family: "Noto Serif Display";
  gap: 2rem;
  margin-top: 1.5rem;
  font-size: 40px;
  font-weight: 400;
}

/* Responsive layout */
@media (min-width: 768px) {
  .roles-grid {
    flex-direction: row;
    justify-content: space-between;
  }
}


.intro {
  margin-top: 20px;
}

